@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;500;700&display=swap');


.font-nav{
  @apply text-xl;
}

.button-hover{
  @apply transition-transform  duration-500 transform hover:scale-90;
}

.title{
  @apply text-5xl text-center mb-7 sm:text-5xl md:text-7xl lg:text-9xl;
}
.word{
  @apply text-3xl mb-20 sm:text-2xl md:text-2xl lg:text-3xl xl:text-5xl ;
}


.button{
  @apply  flex h-12 w-48 items-center justify-center overflow-hidden bg-transparent border shadow-2xl transition-all before:absolute before:h-0 before:w-0 before:bg-white  before:text-opacity-10 before:duration-500 before:ease-out hover:shadow-white hover:before:h-12 hover:before:w-48 hover:text-fondo2;
}

.App{ @apply min-h-full flex flex-col items-center justify-center;}

.header{
  @apply w-screen h-screen;
}

/* src/styles.css */
@keyframes animate {
  0%{
      transform: translateY(10px) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}
.background{
   @apply fixed w-screen h-screen top-0 left-0 m-0 p-0 bg-fondo2 overflow-hidden;
}

.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 22s linear infinite;
}

.background li:nth-child(0) {
  left: 11%;
  width: 96px;
  height: 96px;
  bottom: -96px;
  animation-delay: 0.2s;
}
.background li:nth-child(1) {
  left: 59%;
  width: 194px;
  height: 194px;
  bottom: -194px;
  animation-delay: 0.1s;
}
.background li:nth-child(2) {
  left: 1%;
  width: 186px;
  height: 186px;
  bottom: -186px;
  animation-delay: 5s;
}
.background li:nth-child(3) {
  left: 46%;
  width: 224px;
  height: 224px;
  bottom: -224px;
  animation-delay: 10s;
}
.background li:nth-child(4) {
  left: 86%;
  width: 216px;
  height: 216px;
  bottom: -216px;
  animation-delay: 15s;
}
.background li:nth-child(5) {
  left: 16%;
  width: 216px;
  height: 216px;
  bottom: -216px;
  animation-delay: 20s;
}

.top-main {
  position: relative;
  top: 67rem;
}



@keyframes project-load-animation {
  0% {width: 0;}
	15% {width: 0vw;}
  25% {width: 0vw;}
	50% {width: 35vw;}
	65% {width: 50vw;}
	75% {width: 75vw;}
	100% {width: 100vw;}
}


@keyframes project-infos-animation {
  from {opacity: 0;}
  to {opacity: 1;}
}